---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{ post.img }})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

<!-- about the author section | appears on every page -->
<article class="post">
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : site.author-img}})" href="{{ site.baseurl }}{% link about.md %}">
    </a>
    <div class="post-content">
      <h2 class="post-title"><a href="{{ site.baseurl }}{% link about.md %}">About the Author</a></h2>
      <p>I am <b>{{site.author}}</b> - {{site.about-author | strip_html | truncatewords: 15}}
      </p>
    </div>
</article>

{% include pagination.html %}